## Import libraries

For now we are just gone use two libraries, pandas, for dataframe manipulation, and numpy for array operations and math

In [1]:
import pandas as pd
import numpy as np

## Import the Data
<p>The data is divided into 10 packages, each one containing roughly 570000 observations. Here we are going to put all of the 10 packages into one dataframe</p>

In [31]:
#df = pd.read_csv('block_1.csv')
#df = df.append(pd.read_csv('block_2.csv'),ignore_index=True)
for x in range(1,11):
    dataframe_name = 'block_'+str(x)+'.csv'
    new_dataframe = pd.read_csv(dataframe_name)
    df = pd.concat([new_dataframe,df])

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12073177 entries, 0 to 6324044
Data columns (total 12 columns):
id_1            int64
id_2            int64
cmp_fname_c1    object
cmp_fname_c2    object
cmp_lname_c1    float64
cmp_lname_c2    object
cmp_sex         int64
cmp_bd          object
cmp_bm          object
cmp_by          object
cmp_plz         object
is_match        bool
dtypes: bool(1), float64(1), int64(3), object(7)
memory usage: 1.1+ GB

In [33]:
df.head()

,id_1,id_2,cmp_fname_c1,cmp_fname_c2,cmp_lname_c1,cmp_lname_c2,cmp_sex,cmp_bd,cmp_bm,cmp_by,cmp_plz,is_match
0,41264,44629,1,?,1.0,?,1,1,1,1,1,True
1,28871,41775,1,?,1.0,?,1,1,1,1,1,True
2,99344,99345,1,?,1.0,?,1,1,1,1,1,True
3,31193,66985,1,?,1.0,?,1,1,1,1,0,True
4,24429,25831,1,?,1.0,?,1,1,1,1,1,True